<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">About Me</h1>
      <div class="row">
        <p style="text-align: justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit earum adipisci autem sequi, at excepturi reiciendis, vitae optio enim possimus dolorem ipsa minus molestiae consequatur, explicabo, voluptatum? Perspiciatis, enim, repudiandae?
          <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo iure facere amet corrupti quae impedit consequatur dignissimos officia laborum, quidem itaque in dolore tempore repudiandae eligendi exercitationem excepturi quam distinctio?
          <br>
          Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Voluptates omnis, eaque cumque, reiciendis voluptas beatae, repellat aliquam earum officia, ipsum recusandae obcaecati commodi ea accusantium quas illo ab consectetur a.
        </p>
        <hr class="my-4">
     </div>
      <button type="button" class="btn btn-outline-primary" onclick="window.location.href = 'https://instagram.com';">Instagram</button>
      <button type="button" class="btn btn-outline-secondary" onclick="window.location.href = 'https://twitter.com';">Twitter</button>
      <button type="button" class="btn btn-outline-success" onclick="window.location.href = 'https://youtube.com';">YouTube</button>
  </div>
</div>



<div class="about">
  <div class="about-inner">

  </div>
</div>




