.post-index-main {
  // display: flex;
  width: 90%;
  margin: auto;
  // height: 90vh;
  background-color: beige;
}

.post-index-inner-top {
  margin: 10px;
  padding: 10px;
}

  .post-index-body {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    text-decoration: none;
    font-size: 30px;
    color: grey;
  }

    // .post-index-body h5 {
    //   text-decoration: none;
    //   font-size: 30px;
    //   color: grey;
    // }


.post-index-title {

}

.post-index-details {
  display: flex;
}
